body { 
	background:#fff; 
	margin-top: 0px; 
	margin-left: 0px; 
	margin-right: 0px; 
	padding: 0; 
	background-image: 
	url(images/bar-back.gif); 
	background-repeat:repeat-x;
	font-family:trebuchet MS, trebuchet, verdana, arial, sans-serif; 
	font-size: 11px; 
	color: #666; 
	}

body.pop { 
	background:#fff; 
	margin-top: 0px; 
	margin-left: 0px; 
	margin-right: 0px; 
	padding: 0; 
	background-image: 
	url(images/logo-small.gif); 
	background-repeat:repeat-x;
	}

	A 			{ color: #4A7184; text-decoration: underline; font-weight:bold; font-family:trebuchet MS, trebuchet, verdana, arial, sans-serif; font-size: 12px;} 
	A:link		{ color: #4A7184;  } 
	A:visited	{ color: #4A7184;  } 
	A:active	{ color: #999966;  } 
	A:hover		{ color: #999966;  } 

a.instructional { 
	font-family:verdana, arial, sans-serif; 
	font-size:10px; 
	line-height:13px;
	}

a.list {
	font-family: trebuchet MS, trebuchet, verdana, arial, sans-serif; 
	font-size: 11px;  
	line-height:12px;
	font-weight: normal;	
	}

a.title {
	text-decoration:none;	
	}
			
font { 
	font-family:trebuchet MS, trebuchet, verdana, arial, sans-serif;
	font-weight:normal;
	text-transform:none; 
	}

font.title { 
	font-family:trebuchet MS, trebuchet, verdana, arial, sans-serif; 
	font-size: 11px; 
	color: #666; 
	line-height:15px;
	}

font.title-list { 
	font-family:trebuchet MS, trebuchet, verdana, arial, sans-serif; 
	font-size: 11px; 
	color: #666; 
	line-height:15px;
	}
	
font.bold-label {
	font-family:trebuchet MS, trebuchet, verdana, arial, sans-serif;
	font-size: 11px;
	color: #666;
	font-weight: bold;
	}
 
font.title-no-padding {
	font-family:trebuchet MS, trebuchet, verdana, arial, sans-serif;
	font-size: 11px;
	color: #FFF;
	}

font.title-padding { 
	font-family:trebuchet MS, trebuchet, verdana, arial, sans-serif; 
	font-size: 11px; 
	color: #FFF; 
	line-height:15px;
	padding:5px;
	}

font.title-padding-grey { 
	font-family:trebuchet MS, trebuchet, verdana, arial, sans-serif; 
	font-size: 11px; 
	color: #333; 
	line-height:15px;
	padding:5px;
	}
	
font.pagetitle { 
	font-family:trebuchet MS, trebuchet, verdana, arial, sans-serif; 
	font-size: 12px; 
	color: #666; 
	line-height:15px;
	font-weight:bold;
	}

font.pagetitlelink { 
	font-family:trebuchet MS, trebuchet, verdana, arial, sans-serif; 
	font-size: 12px; 
	color: #336699; 
	line-height:15px;
	font-weight:bold;
	}

font.plain { 
	font-family:trebuchet MS, trebuchet, verdana, arial, sans-serif; 
	font-size:11px; 
	color: #666; 
	line-height:15px;
	}

font.instructional { 
	font-family:verdana, arial, sans-serif; 
	font-size:10px; 
	color: #666; 
	line-height:13px;
	text-align:justify;
	}

.message { 
	font-family: verdana, arial, sans-serif; 
	font-size:11px; 
	color: #669966; 
	line-height:13px;
	font-weight:bold;
	margin-bottom: 10px;
	}

.message a {
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	}

.error-message { 
	font-family:verdana, arial, sans-serif; 
	font-size:11px; 
	color: #993333; 
	line-height:13px;
	font-weight:bold;
	margin-bottom: 10px;
	}

.error-message a {
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	}

font.instructional-just { 
	font-family:verdana, arial, sans-serif; 
	font-size:10px; 
	color: #666; 
	line-height:13px;
	}

font.head1 { 
	font-family: trebuchet MS, trebuchet, verdana, arial, sans-serif; 
	font-size:11px; 
	color: #336699; 
	line-height:15px;
	font-weight:bold;
	}

font.command { 
	font-family: trebuchet MS, trebuchet, verdana, arial, sans-serif; 
	font-size: 12px; 
	line-height:15px;
	text-transform:uppercase;
	font-weight:bold;
	}

font.command-grey { 
	font-family: trebuchet MS, trebuchet, verdana, arial, sans-serif; 
	font-size: 12px; 
	line-height:15px;
	color: #666;
	font-weight:bold;
	valign:middle;
	}

p { 
	color:#666; 
	font-family: trebuchet MS, trebuchet, verdana, geneva, arial, helvetica, sans-serif; 
	font-size: 11px; 
	line-height:14px;
	}


ul { 
	color:#666; 
	font-family: trebuchet MS, trebuchet, verdana, helvetica, sans-serif; 
	font-size: 11px; 
	line-height:14px;  }

li { 
	font-family: trebuchet MS, trebuchet, verdana, helvetica, sans-serif; 
	font-size: 11px; 
	margin-left: 0px; 
	margin-right: 0px; 
	margin-top: 6px; 
	margin-bottom: 0px;
	line-height:14px;
	}

	.blogbox {
	padding:5px;
	background-color:#FFF;
	margin-bottom:10px;
	border:1px solid #CCC;
	width:260px;
	}


.padded-box {
	border: 1px solid #696;
	padding: 10px;
	margin-top: 50px;
	margin-left: 50px;
	text-align:center;
	}

#copyright {
	background:#FFF;
	font-family:verdana, arial, sans-serif;
	font-size:10px;
	color:#666;
	border-top:1px dotted #CCC;
	border-bottom:1px dotted #CCC;	
	margin-top:50px;
	margin-left:10px;
	margin-right:10px;
	padding-left:50px;
	}

	input {
	font-family:verdana, arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#666;
	} 
	
	input.search {
	font-family:verdana, arial, sans-serif;
	font-size:10px;
	color:#666;
	font-weight:normal;	
	} 
		
	input.text {
	width: 292px;  
	height: 20px;
	} 
	
	input.num {
	width: 16px; 
	height: 20px;
	}

	input.num4 {
	width: 32px;
	height: 20px;
	} 
	
	input.text-short {
	width: 175px;  
	height: 20px;
	}

	input.text-large { 
	width: 250px;  
	height: 20px;
	margin-bottom:5px;
	}
	
	input.button {
	width: 100px;
	font-family: verdana, arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#666;
	text-transform:uppercase;
	}

	input.button-big {
	width: 150px;
	font-family: verdana, arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#666;
	text-transform:uppercase;
	} 

	input.weird-button {
	width:75px;
	font-family: verdana, arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000;
	background-color:#FFF;
	text-transform:uppercase;	
	} 
	
	input.button-small {
	width: 50px;
	font-family: verdana, arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#666;
	text-transform:uppercase;	
	} 

	input.button-search {
	width: 75px;
	font-family: verdana, arial, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#666;
	text-transform:lowecase;	
	}
			
	input.button-go {
	width: 100px;
	font-family: verdana, arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#666;
	background-color:#C5D1C7;
	text-transform:uppercase;	
	}	
	
	input.cbox { 
	vertical-align:3px;
	}
	 
	select { 
	font-family: verdana, arial, sans-serif; 
	font-weight:bold; 
	color:#666; 
	font-size:11px;
	} 
	
	select.menu { 
	width: 106px;
	}

	select.menu-long {
	width: 225px;
	}

	select.blog { 
	width: 165px;
	color:#666; 
	font-size:10px;
	}
	
	select.category {
	width: 150px;
	} 
	
	select.menu-short {
	width: 130px;
	} 
	 
	textarea {
	font-family:verdana, arial, sans-serif; 
	color:#333; 
	background-color:#FFF; 
	font-size:11px;	 
	} 

	textarea.width500 {
	font-family:verdana, arial, sans-serif; 
	color:#333; 
	background-color:#FFF; 
	font-size:11px;	
	width:486px; 
	} 
	
	textarea.config {
	font-family:verdana, arial, sans-serif; 
	color:#333;  
	font-size:11px;	
	width: 292px;
	} 
		
	textarea.wide {
	font-family:verdana, arial, sans-serif; 
	color:#333; 
	background-color:#FFF; 
	font-size:11px; 
	} 
	
	textarea.short310 {
	font-family:verdana, arial, sans-serif;
	color:#333;
	background-color:#FFF;
	font-size:11px;
	width: 310px;
	}

	textarea.short340 {
	font-family:verdana, arial, sans-serif;
	color:#333;
	background-color:#FFF;
	font-size:11px;
	width: 340px;
	}
