<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>

<meta name="description" content="MOVABLE TYPE: Personal Publishing System" />
<meta http-equiv="Content-Type" content="text/html; charset=<TMPL_VAR NAME=LANGUAGE_ENCODING>" />

<title><MT_TRANS phrase="Archiving"> | <MT_TRANS phrase="Configuration"> | <TMPL_VAR NAME=BLOG_NAME> | MOVABLE TYPE</title>

<link rel="stylesheet" href="<TMPL_VAR NAME=STATIC_URI>styles.css" type="text/css">

<script language="JavaScript">
<!--

if ((!(navigator.appVersion.indexOf('MSIE') != -1) &&
      (parseInt(navigator.appVersion)==4))) {
    document.write("<STYLE TYPE=\"text/css\">");
    document.write("BODY { margin-top: -8px; margin-left: -8px; }"); 
    document.write("</style>");
}

var origWidth, origHeight;
if ((navigator.appName == 'Netscape') &&
    (parseInt(navigator.appVersion) == 4)) {
    origWidth = innerWidth;
    origHeight = innerHeight;
    window.onresize = restore;
}

function restore () {
    if (innerWidth != origWidth || innerHeight != origHeight)
        location.reload();
}

function validate (f) {
    return true;
}

function doRebuild () {
    window.open('<TMPL_VAR NAME=SCRIPT_URL>?__mode=rebuild_confirm&blog_id=<TMPL_VAR NAME=BLOG_ID>', 'rebuild', 'width=400,height=200,resizable=yes');
}

function openManual (anchor) {
    window.open('<TMPL_VAR NAME=STATIC_URI>docs/mtmanual_weblog_config.html#' + anchor, 'manual', 'width=450,height=550,scrollbars=yes,status=yes,resizable=yes');
}

function doAdd () {
    window.open('<TMPL_VAR NAME=SCRIPT_URL>?__mode=cfg_archives_add&blog_id=<TMPL_VAR NAME=BLOG_ID>', 'archive_add', 'width=370,height=210');
}

function doRemoveMaps (f) {
    var base = '<TMPL_VAR NAME=SCRIPT_URL>?__mode=delete_confirm&_type=templatemap&blog_id=<TMPL_VAR NAME=BLOG_ID>';
    var url = '';
    var e = f.delete_id;
    if (!e) return;
    if (e.value && e.checked)
        url += '&id=' + e.value;
    else
        for (i=0; i<e.length; i++)
            if (e[i].checked)
                url += '&id=' + e[i].value;
    if (!url) {
        alert('<MT_TRANS phrase="You did not select any archive templates to delete.">');
        return false;
    }
    url = base + url;
    window.open(url, 'confirm_delete', 'width=370,height=150');
}

//-->
</script>

</head>

<body>

<!-- Logo and top nav -->

<TMPL_INCLUDE NAME="logonav.tmpl">

<!-- End logo and top nav -->

<!-- Begin main content -->

<table border="0" cellspacing="0" cellpadding="0">

<tr>
<td align="left" rowspan="5" valign="top">
<TMPL_INCLUDE NAME=mininav.tmpl>
</td>
<td><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="10"></td>
</tr>

<tr>
<td valign="top" width="500"><a class="title" href="<TMPL_VAR NAME=SCRIPT_URL>">Main Menu &gt;</a><a class="title" href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=menu&blog_id=<TMPL_VAR NAME=BLOG_ID>"> <MT_TRANS phrase="[_1] Editing Menu" params="<TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML>"> &gt;</a><font class="pagetitle"> <MT_TRANS phrase="Configuration"></font>
</td>
</tr>

<tr>
<td valign="top" width="500" bgcolor="#CCCCCC"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="1"></td>
</tr>

<tr>
<td><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="5"></td>
</tr>

<tr>
<td valign="top" width="500">

	<form method="post" action="<TMPL_VAR NAME=SCRIPT_URL>" onSubmit="return validate(this)">
	<input type="hidden" name="id" value="<TMPL_VAR NAME=ID>">
	<input type="hidden" name="__mode" value="cfg_archives_save">
	<input type="hidden" name="_type" value="blog">
	<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>">

	<table border="0" cellspacing="0" cellpadding="0">

        <tr>
        <td valign="top" align="right"><font class="pagetitle">
        <a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&_type=blog&id=<TMPL_VAR NAME=BLOG_ID>&blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Core Setup"></a>&nbsp;|&nbsp;<a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=cfg_prefs&blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Preferences"></a>&nbsp;|&nbsp;<MT_TRANS phrase="Archiving">&nbsp;|&nbsp;<a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=list&_type=banlist&blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="IP Banning"></a>
        </font></td>
        </tr>
        
        <tr>
        <td valign="top"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="10"></td>
        </tr>

	<tr>
	<td valign="top" width="500"><p><font class="instructional"><MT_TRANS phrase="_USAGE_ARCHIVING_1"></font></p>

	<p><font class="instructional"><MT_TRANS phrase="_USAGE_ARCHIVING_2"></font></p></td>
	</tr>

	<tr>
	<td valign="top"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="10"></td>
	</tr>

<TMPL_IF NAME=SAVED>
	<tr>
	<td valign="top"><p class="message"><MT_TRANS phrase="Your weblog's archive configuration has been saved."><TMPL_IF NAME=CAN_REBUILD> <MT_TRANS phrase="_USAGE_REBUILD"></TMPL_IF></p></td>
	</tr>
</TMPL_IF>

<TMPL_IF NAME=SAVED_ADDED>
	<tr>
	<td valign="top"><p class="message"><MT_TRANS phrase="You have successfully added a new archive-template association."></p></td>
	</tr>
</TMPL_IF>

<TMPL_IF NAME=SAVED_DELETED>
	<tr>
	<td valign="top"><p class="message"><MT_TRANS phrase="The selected archive-template associations have been deleted."></p></td>
	</tr>
</TMPL_IF>

	<tr>
	<td valign="top">

		<table border="0" cellspacing="5" cellpadding="0">

		<tr>
		<td valign="top" width="100"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="100" height="1"></td>
		<td valign="top" width="45"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="45" height="1"></td>
		<td valign="top" width="110"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="110" height="1"></td>
		<td valign="top" width="195"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="195" height="1"></td>
		<td valign="top" width="20"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="20" height="1"></td>
		</tr>

		<tr>
		<td valign="top"><font class="title"><b><MT_TRANS phrase="Archive Type"></b> <a href="#" onclick="openManual('item_archive_frequency')">(?)</a></font></td>
		<td valign="top" align="right">&nbsp;</td>
		<td valign="top"><font class="title"><b><MT_TRANS phrase="Template"></b> <a href="#" onclick="openManual('item_archive_templates')">(?)</a></font></td>
		<td valign="top"><font class="title"><b><MT_TRANS phrase="Archive File Template"></b> <a href="#" onclick="openManual('item_archive_file_templates')">(?)</a></font></td>
		<td valign="top" align="center"><font class="title"><b><MT_TRANS phrase="Del"></b></font></td>
		</tr>

		<tr>
		<td colspan="5" bgcolor="#CCCCCC"><img src="<TMPL_VAR NAME=STATIC_URI>/images/spacer.gif" width="1" height="1"></td>
		</tr>

		<TMPL_LOOP NAME=ARCHIVE_TYPES>

		<tr>
		<td valign="top"><font class="title"><input type="checkbox" name="archive_type" value="<TMPL_VAR NAME=ARCHIVE_TYPE>"<TMPL_IF NAME=IS_SELECTED> checked</TMPL_IF>> <TMPL_VAR NAME=ARCHIVE_TYPE_TRANSLATED></font></td>
		<td valign="top" colspan="4" width="385">
			<table border="0" cellspacing="0" cellpadding="0">

			<tr>
			<td valign="top" width="45"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="45" height="1"></td>
			<td rowspan="<TMPL_VAR NAME=MAP_COUNT>" valign="top" width="5"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="5" height="1"></td>
			<td valign="top" width="110"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="110" height="1"></td>
			<td rowspan="<TMPL_VAR NAME=MAP_COUNT>" valign="top" width="5"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="5" height="1"></td>
			<td valign="top" width="195"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="195" height="1"></td>
			<td rowspan="<TMPL_VAR NAME=MAP_COUNT>" valign="top" width="5"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="5" height="1"></td>
			<td valign="top" width="20"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="20" height="1"></td>
			</tr>

			<TMPL_LOOP NAME=TEMPLATE_MAP>
			<tr>
			<td valign="top" align="right"><input type="radio" name="archive_tmpl_preferred_<TMPL_VAR NAME=ARCHIVE_TYPE>"<TMPL_IF NAME=MAP_IS_PREFERRED> checked</TMPL_IF> value="<TMPL_VAR NAME=MAP_ID>"></td>
			<td valign="top"><font class="title"><TMPL_VAR NAME=MAP_TEMPLATE_NAME></font></td>
			<td valign="top"><input name="archive_file_tmpl_<TMPL_VAR NAME=MAP_ID>" value="<TMPL_VAR NAME=MAP_FILE_TEMPLATE>" class="text-short"></td>
			<td valign="top" align="center"><input type="checkbox" name="delete_id" value="<TMPL_VAR NAME=MAP_ID>"></td>
			</tr>
			</TMPL_LOOP>

			</table>
		</td>
		</tr>

		<tr>
		<td colspan="5" bgcolor="#CCCCCC"><img src="<TMPL_VAR NAME=STATIC_URI>/images/spacer.gif" width="1" height="1"></td>
		</tr>

		</TMPL_LOOP>

		<tr>
		<td colspan="5" align="right"><input onClick="doAdd()" class="button" type="button" value="<MT_TRANS phrase="Add new...">">&nbsp;<input type="submit" class="button" value="<MT_TRANS phrase="Save">">&nbsp;<input onClick="doRemoveMaps(this.form)" class="button" type="button" value="<MT_TRANS phrase="Delete">"></td>
		</tr>

		</table>

	</td>
	</tr>

	</table>

	</form>

</td>
</tr>

<tr>
<td width="115"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="115" height="1"></td>
<td valign="top" width="500"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="500" height="1"></td>
</tr>

</table>

<!-- End main content -->

<!-- Begin copyright and version info -->
<TMPL_INCLUDE NAME="copyright.tmpl">
<!-- End copyright and version info -->

</body>
</html>
