<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>

<meta name="description" content="MOVABLE TYPE: Personal Publishing System" />
<meta http-equiv="Content-Type" content="text/html; charset=<TMPL_VAR NAME=LANGUAGE_ENCODING>" />

<title><MT_TRANS phrase="Main Menu"> | MOVABLE TYPE</title>

<link rel="stylesheet" href="<TMPL_VAR NAME=STATIC_URI>styles.css" type="text/css">

<style type="text/css">
a.small { font-family:verdana;  font-size: 9px; }

.listblog {
padding:5px;
background-color:#FFF;
margin-top:10px;
border:1px solid #CCC;
width:253px;
}

</style>

<script language="javascript">
<!--

if ((!(navigator.appVersion.indexOf('MSIE') != -1) &&
      (parseInt(navigator.appVersion)==4))) {
    document.write("<STYLE TYPE=\"text/css\">");
    document.write("BODY { margin-top: -8px; margin-left: -8px; }"); 
    document.write("</style>");
}

var origWidth, origHeight;
if ((navigator.appName == 'Netscape') &&
    (parseInt(navigator.appVersion) == 4)) {
    origWidth = innerWidth;
    origHeight = innerHeight;
    window.onresize = restore;
}

function restore () {
    if (innerWidth != origWidth || innerHeight != origHeight)
        location.reload();
}

function doRemoveBlog (id) {
    var url = '<TMPL_VAR NAME=SCRIPT_URL>?__mode=delete_confirm&_type=blog&id=' + id;
    window.open(url, 'confirm_delete', 'width=370,height=200');
}

//-->
</script>

</head>

<body>

<!-- Logo and top nav -->

<TMPL_INCLUDE NAME="logonav.tmpl">

<!-- End logo and top nav -->

<!-- Begin main content -->

<table border="0" cellspacing="0" cellpadding="0">

<tr>
<td width="39"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="39" height="1"></td>
<td width="273"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="273" height="1"></td>
<td width="1"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="1"></td>
<td width="7"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="7" height="1"></td>
<td width="180"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="180" height="1"></td>
</tr>

<tr>
<td colspan="6"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="30"></td>
</tr>

<tr>
<td width="39"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="39" height="1"></td>
<td colspan="5"><font class="pagetitle"><MT_TRANS phrase="[_1]: Welcome to the Main Menu" params="<TMPL_VAR NAME=AUTHOR_NAME ESCAPE=HTML>"></font></td>
</tr>

<tr>
<td width="39"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="39" height="1"></td>
<td valign="top" width="500" bgcolor="#CCCCCC" colspan="5"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="1"></td>
</tr>
		
<tr>
<td colspan="5"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="15"></td>
</tr>

<tr>
<td width="39"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="39" height="1"></td>
<td colspan="5"><font class="instructional"> <MT_TRANS phrase="Select an existing weblog to edit, create new weblogs, add/edit authors, and edit your personal information."></font></td>
</tr>

<TMPL_IF NAME=SAVED_DELETED>
<tr>
<td colspan="6"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="10"></td>
</tr>

<tr>
<td width="39"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="39" height="1"></td>
<td colspan="5"><p class="message"><MT_TRANS phrase="Your selected weblog has been deleted."></p></td>
</tr>

</TMPL_IF>

<tr>
<td colspan="6"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="20"></td>
</tr>

<tr>
<td width="39"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="39" height="1"></td>
<td valign="top" width="273">

	<table border="0" cellspacing="0" cellpadding="0" width="100%">


	<tr>
	<td width="100%">
<font class="command-grey"><MT_TRANS phrase="Your existing weblogs:"><br><font class="instructional"><MT_TRANS phrase="Add entries, manage templates, set configurations, etc."></font>
<TMPL_LOOP NAME=BLOG_LOOP>
		
		<div class="listblog">
		<table align="center" border="0" cellspacing="0" cellpadding="0" width="100%">

		<tr>
		<td valign="top" colspan="3">
		<a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=menu&blog_id=<TMPL_VAR NAME=ID>"><font class="command"><TMPL_VAR NAME=NAME></a><br></font>
		<font class="plain"><TMPL_VAR NAME=DESCRIPTION></font></td>
		</tr>

		<tr>
		<td valign="top"><font class="title"><MT_TRANS phrase="Entries:"> <b><TMPL_VAR NAME=NUM_ENTRIES></b></font></td>
		<td valign="top"><font class="title"><MT_TRANS phrase="Comments:"> <b><TMPL_VAR NAME=NUM_COMMENTS></b></font></td>
		<td valign="top"><font class="title"><MT_TRANS phrase="Authors:"> <b><TMPL_VAR NAME=NUM_AUTHORS></b></font></td>
		</tr>

		<tr>
		<td colspan="3"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="5"></td>
		</tr>

		<tr>
		<td colspan="3"><a class="small" href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&_type=entry&blog_id=<TMPL_VAR NAME=ID>"><MT_TRANS phrase="New Entry"></a> |
		<a class="small" href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=menu&blog_id=<TMPL_VAR NAME=ID>"><MT_TRANS phrase="Manage Weblog"></a>
		<TMPL_IF NAME=CAN_DELETE>
		| <a href="#" class="small" onclick="doRemoveBlog(<TMPL_VAR NAME=ID>)"><MT_TRANS phrase="Delete Weblog"></a>
		</TMPL_IF>
		</td>
		</tr>

		</table>
		
		</div>

</TMPL_LOOP>
		
	</td>
	</tr>



	</table>

</td>

<td valign="top" width="1"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height"1">
<td valign="top" width="7"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="7" height"1">

<td width="180" valign="top">

	<table border="0" cellspacing="0" cellpadding="0">

	<tr>
	<td colspan="2"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="200" height="1"></td>
	</tr>
	
	<TMPL_IF NAME=CAN_CREATE_BLOG>
	<tr>
	<td width="36"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&_type=blog"><img src="<TMPL_VAR NAME=STATIC_URI>images/new-blog-icon.gif" width="36" height="32" border="0"></a></td>
	<td width="164"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&_type=blog"><font class="command"><MT_TRANS phrase="Create new Weblog"></a></font></td>
	</tr>

	<tr>
	<td colspan="2"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="15"></td>
	</tr>
	</TMPL_IF>

	<TMPL_IF NAME=CAN_EDIT_AUTHORS>
	<tr>
	<td width="36"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=edit_permissions"><img src="<TMPL_VAR NAME=STATIC_URI>images/edit-author-icon.gif" width="36" height="32" border="0"></a></td>
	<td width="164"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=edit_permissions"><font class="command"><MT_TRANS phrase="Add/Edit Weblog authors"></a><br><font class="instructional"><MT_TRANS phrase="Add authors, set permissions"></font></td>
	</tr>
	
	<tr>
	<td colspan="2"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="15"></td>
	</tr>
	</TMPL_IF>
	
	<tr>
	<td width="36"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&_type=author&id=<TMPL_VAR NAME=AUTHOR_ID>"><img src="<TMPL_VAR NAME=STATIC_URI>images/edit-profile-icon.gif" width="36" height="32" border="0"></td>
	<td width="164"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&_type=author&id=<TMPL_VAR NAME=AUTHOR_ID>"><font class="command"><MT_TRANS phrase="Edit your profile"></font></a><br><font class="instructional"><MT_TRANS phrase="Change password, contact info, select language"></font></td>
	</tr>
	
	<tr>
	<td colspan="2"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="15"></td>
	</tr>

	<TMPL_IF NAME=CAN_VIEW_LOG>
	<tr>
	<td width="36"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view_log"><img src="<TMPL_VAR NAME=STATIC_URI>images/activity-icon.gif" width="36" height="32" border="0"></a></td>
	<td width="164"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view_log"><font class="command"><MT_TRANS phrase="View Activity Log"></a><br><font class="instructional"><MT_TRANS phrase="System activity, logins"></font></td>
	</tr>
	
	<tr>
	<td colspan="2"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="15"></td>
	</tr>
	</TMPL_IF>
	
	<tr>
	<td width="36"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=bookmarklets"><img src="<TMPL_VAR NAME=STATIC_URI>images/bookmarklet-icon.gif" width="36" height="32" border="0"></a></td>
	<td width="210"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=bookmarklets"><font class="command"><MT_TRANS phrase="Set up bookmarklets"></a><br><font class="instructional"><MT_TRANS phrase="Bookmarklets enable one-click publishing"></font></td>
	</tr>

	</table>

</td>

</table>


<!-- End main content -->

<!-- Begin copyright and version info -->
<TMPL_INCLUDE NAME="copyright.tmpl">
<!-- End copyright and version info -->

</body>
</html>
