<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>

<meta name="description" content="MOVABLE TYPE: Personal Publishing System" />
<meta http-equiv="Content-Type" content="text/html; charset=<TMPL_VAR NAME=LANGUAGE_ENCODING>" />

<title><MT_TRANS phrase="Upload File"> | <TMPL_VAR NAME=BLOG_NAME> | MOVABLE TYPE</title>

<link rel="stylesheet" href="<TMPL_VAR NAME=STATIC_URI>styles.css" type="text/css">

<script language="JavaScript">
<!--

if ((!(navigator.appVersion.indexOf('MSIE') != -1) &&
      (parseInt(navigator.appVersion)==4))) {
    document.write("<STYLE TYPE=\"text/css\">");
    document.write("BODY { margin-top: -8px; margin-left: -8px; }"); 
    document.write("</style>");
}

var origWidth, origHeight;
if ((navigator.appName == 'Netscape') &&
    (parseInt(navigator.appVersion) == 4)) {
    origWidth = innerWidth;
    origHeight = innerHeight;
    window.onresize = restore;
}

function restore () {
    if (innerWidth != origWidth || innerHeight != origHeight)
        location.reload();
}

//-->
</script>

</head>

<body class="pop">

<form method="get" action="<TMPL_VAR NAME=SCRIPT_URL>">
<input type="hidden" name="__mode" value="upload_file">
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>">
<input type="hidden" name="temp" value="<TMPL_VAR NAME=TEMP>">
<input type="hidden" name="extra_path_<TMPL_IF NAME=SITE_PATH>site<TMPL_ELSE>archive</TMPL_IF>" value="<TMPL_VAR NAME=EXTRA_PATH>">
<input type="hidden" name="fname" value="<TMPL_VAR NAME=FNAME>">
<input type="hidden" name="site_path" value="<TMPL_VAR NAME=SITE_PATH>">

<table border="0" cellspacing="0" padding="0">

<tr>
<td colspan="3" valign="top"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="50"></td>
</tr>

<tr>
<td width="20" valign="top"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="20" height="1"></td>
<td width="100%" valign="top"><p class="message"><MT_TRANS phrase="A file named '[_1]' already exists. Do you want to overwrite this file?" params="<TMPL_VAR NAME=FNAME ESCAPE=HTML>"></p></td>
<td width="20" valign="top"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="20" height="1"></td>
</tr>

<tr>
<td colspan="3" valign="top"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="10"></td>
</tr>

<tr>
<td width="20" valign="top"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="20" height="1"></td>
<td valign="top"><input class="button" type="submit" name="overwrite_no" value="<MT_TRANS phrase="No">">&nbsp;<input class="button" type="submit" name="overwrite_yes" value="<MT_TRANS phrase="Yes">"></td>
<td width="20" valign="top"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="20" height="1"></td>
</tr>
</table>

</form>

</body>
</html>
