<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>

<meta name="description" content="MOVABLE TYPE: Personal Publishing System" />
<meta http-equiv="Content-Type" content="text/html; charset=<TMPL_VAR NAME=LANGUAGE_ENCODING>" />

<title><MT_TRANS phrase="Search &amp; Replace"> | <TMPL_VAR NAME=BLOG_NAME> | MOVABLE TYPE</title>

<link rel="stylesheet" href="<TMPL_VAR NAME=STATIC_URI>styles.css" type="text/css">

<script language="JavaScript">
<!--

if ((!(navigator.appVersion.indexOf('MSIE') != -1) &&
      (parseInt(navigator.appVersion)==4))) {
    document.write("<STYLE TYPE=\"text/css\">");
    document.write("BODY { margin-top: -8px; margin-left: -8px; }"); 
    document.write("</style>");
}

var origWidth, origHeight;
if ((navigator.appName == 'Netscape') &&
    (parseInt(navigator.appVersion) == 4)) {
    origWidth = innerWidth;
    origHeight = innerHeight;
    window.onresize = restore;
}

function restore () {
    if (innerWidth != origWidth || innerHeight != origHeight)
        location.reload();
}

function openManual (anchor) {
    window.open('<TMPL_VAR NAME=STATIC_URI>docs/mtmanual_search.html#' + anchor, 'manual', 'width=450,height=550,scrollbars=yes,status=yes,resizable=yes');
}

function doRebuild () {
    window.open('<TMPL_VAR NAME=SCRIPT_URL>?__mode=rebuild_confirm&blog_id=<TMPL_VAR NAME=BLOG_ID>', 'rebuild', 'width=400,height=200,resizable=yes');
}

//-->
</script>

</head>

<body>

<!-- Logo and top nav -->

<TMPL_INCLUDE NAME="logonav.tmpl">

<!-- End logo and top nav -->

<!-- Begin main content -->

<table border="0" cellspacing="0" cellpadding="0">

<tr>
<td align="left" rowspan="7" valign="top">
<TMPL_INCLUDE NAME=mininav.tmpl>
</td>
<td><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="10"></td>
</tr>

<tr>
<td valign="top" width="500"><a class="title" href="<TMPL_VAR NAME=SCRIPT_URL>"><MT_TRANS phrase="Main Menu"> &gt;</a><a class="title" href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=menu&blog_id=<TMPL_VAR NAME=BLOG_ID>"> <MT_TRANS phrase="[_1] Editing Menu" params="<TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML>"> &gt;</a><font class="pagetitle"> <MT_TRANS phrase="Search &amp; Replace"></a></font></td>
</tr>

<tr>
<td valign="top" width="500" bgcolor="#CCCCCC"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="1"></td>
</tr>

<tr>
<td><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="10"></td>
</tr>

<tr>
<td valign="top" width="500"><p><font class="instructional"><MT_TRANS phrase="_USAGE_SEARCH"></font></p>
</td>
</tr>

<tr>
<td><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="15"></td>
</tr>

<tr>
<td width="500" valign="top">

	<form method="get" action="<TMPL_VAR NAME=SCRIPT_URL>">
	<input type="hidden" name="__mode" value="search_replace">
	<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>">

	<table width="500" border="0" cellspacing="0" cellpadding="3">

	<tr>
	<td><font class="pagetitle"><MT_TRANS phrase="Search for:"></font></td>
	<td><input class="text-short" name="search" value="<TMPL_VAR NAME=SEARCH ESCAPE=HTML>"><input class="button" name="do_search" type="submit" value="<MT_TRANS phrase="Search">"></td>
	</tr>

	<tr>
	<td>&nbsp;</td>
	<td valign="top">
		<table border="0" cellspacing="0" cellpadding="0">

		<tr>
		<td valign="top"><input type="checkbox" name="case" value="1"<TMPL_IF NAME=CASE> checked</TMPL_IF>> <font class="instructional"> <MT_TRANS phrase="Case Sensitive"> <a href="#" onclick="openManual('item_case_sensitive')">(?)</a>&nbsp;&nbsp;</font></td>
		<td valign="top"><input type="checkbox" name="is_regex" value="1"<TMPL_IF NAME=IS_REGEX> checked</TMPL_IF>> <font class="instructional"> <MT_TRANS phrase="Regular Expression Match"> <a href="#" onclick="openManual('item_regular_expression_match')">(?)</a></font></td>
		</tr>

		</table>

	</td>
	</tr>

	<tr>
	<td>&nbsp;</td>
	<td valign="top">

		<table border="0" cellspacing="0" cellpadding="0">

		<tr>
		<td valign="top"><font class="instructional"><b><MT_TRANS phrase="Search fields:"></b> <a href="#" onclick="openManual('item_search_fields')">(?)</a>&nbsp;&nbsp;</font></td>
		</tr>

		<tr>
		<td valign="top"><font class="instructional"><input type="checkbox" name="search_cols" value="title"<TMPL_IF NAME=SEARCH_COLS_TITLE> checked</TMPL_IF>> <MT_TRANS phrase="Title"></font></td>
		<td valign="top"><font class="instructional"><input type="checkbox" name="search_cols" value="text"<TMPL_IF NAME=SEARCH_COLS_TEXT> checked</TMPL_IF>> <MT_TRANS phrase="Entry Body"></td>
		</tr>

		<tr>
		<td valign="top"><font class="instructional"><input type="checkbox" name="search_cols" value="text_more"<TMPL_IF NAME=SEARCH_COLS_TEXT_MORE> checked</TMPL_IF>> <MT_TRANS phrase="Extended Entry"></font></td>
		<td valign="top"><font class="instructional"><input type="checkbox" name="search_cols" value="keywords"<TMPL_IF NAME=SEARCH_COLS_KEYWORDS> checked</TMPL_IF>> <MT_TRANS phrase="Keywords"></font></td>
		</tr>

		</table>
	</td>
	</tr>

	<tr>
	<td valign="top"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="3"></td>
	</tr>

	<tr>
	<td><font class="pagetitle"><MT_TRANS phrase="Replace with:"></font></td>
	<td><input class="text-short" name="replace" value="<TMPL_VAR NAME=REPLACE ESCAPE=HTML>"><input class="button" type="submit" name="do_replace" value="<MT_TRANS phrase="Replace">"></td>
	</tr>

	<tr>
	<td valign="top"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="3"></td>
	</tr>


	</table>

	</form>

<TMPL_IF NAME=HAVE_RESULTS>
		
	<p><font class="pagetitle"><MT_TRANS phrase="Search Results"></font></p>

	<p class="message"><MT_TRANS phrase="The following entries match the search string [_1]" params="<TMPL_VAR NAME=SEARCH ESCAPE=HTML>"><TMPL_IF NAME=DO_REPLACE><MT_TRANS phrase="; that search string has been replaced by [_1]" params="<TMPL_VAR NAME=REPLACE ESCAPE=HTML>">. <TMPL_IF NAME=CAN_REBUILD><MT_TRANS phrase="_USAGE_REBUILD"></TMPL_IF><TMPL_ELSE>.</TMPL_IF></p>

	<table width="500" border="0" cellspacing="0" cellpadding="3">
	<tr>
	<td valign="top" width="375"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="375" height="1"></td>
	<td valign="top" width="125"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="125" height="1"></td>
	</tr>

	<tr>
	<td valign="top" width="375" bgcolor="#666666"><font class="title-no-padding"><MT_TRANS phrase="Title"></font></td>
	<td valign="top" width="125" bgcolor="#666666"><font class="title-no-padding"><MT_TRANS phrase="Authored On"></font></td>
	</tr>

	<tr>
	<td colspan="2" valign="top"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="1" height="1"></td>
	</tr>

	<TMPL_LOOP NAME=RESULTS>
	<tr>
	<td valign="top" width="375" bgcolor="#<TMPL_IF NAME=IS_ODD>EEEEEE<TMPL_ELSE>FFFFFF</TMPL_IF>"><a class="list" href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&_type=entry&id=<TMPL_VAR NAME=ENTRY_ID>&blog_id=<TMPL_VAR NAME=BLOG_ID>"><TMPL_VAR NAME=ENTRY_TITLE></a></td>
	<td valign="top" width="125" bgcolor="#<TMPL_IF NAME=IS_ODD>EEEEEE<TMPL_ELSE>FFFFFF</TMPL_IF>"><font class="title"><TMPL_VAR NAME=ENTRY_CREATED_ON></font></td>
	</tr>

	</TMPL_LOOP>

	</table>
</TMPL_IF>

</td>
</tr>

<tr>
<td width="115"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="115" height="1"></td>
<td valign="top" width="500"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="500" height="1"></td>
</tr>

</table>

<!-- End main content -->

<!-- Begin copyright and version info -->
<TMPL_INCLUDE NAME="copyright.tmpl">
<!-- End copyright and version info -->

</body>
</html>
